<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ai.naryad.lan" android:versionCode="1" android:versionName="1.0.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="37"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK"/>
  <queries><intent><action android:name="android.speech.action.RECOGNIZE_SPEECH"/></intent><intent><action android:name="android.media.action.IMAGE_CAPTURE"/></intent></queries>
  <application android:label="НарядAI Wi-Fi" android:icon="@drawable/app_icon" android:theme="@style/AppTheme" android:usesCleartextTraffic="true" android:allowBackup="false" android:supportsRtl="true">
    <provider android:name=".CaptureProvider" android:authorities="ai.naryad.lan.files" android:exported="false" android:grantUriPermissions="true"/>
    <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
